// base color
$blue:#409EFF;
$light-blue:#a0cfff;
$red:#F56C6C;
$light-red: #fde2e2;
$green: #67C23A;
$light-green: #e1f3d8;
$orange: #E6A23C;
$light-orange: #fbecd8;
$gray: #909399;
$light-gray: #e9e9eb;

$radius:4px;